body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  /*background-image: url(../images/dc-online-media-mockup.jpg);*/
  /*background-size: 800px 20624px;*/
  /*background-position: top center;*/
  /*background-repeat: no-repeat;*/
}

section {
  width: 700px;
  margin: 0 auto;
}

img {
  display: block;
  width: 1020px;
  margin: 66px auto;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 66px;
  font-size: 40px;
  line-height: 46px;
}

h1 + p {
  margin-top: 14px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0,0,0,.4);
}

h1 + p + p {
  margin-top: 30px;
}

h2 {
  margin-top: 43px;
  font-size: 32px;
  line-height: 36px;
  color: rgba(0,0,0,.8);
}

h2 + p,
h2 + blockquote {
  margin-top: 7px;
}

h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 34px;
  color: rgba(0,0,0,.8);
}

h3 + p,
h3 + blockquote {
  margin-top: 6px;
}

h4 {
  margin-top: 29px;
  font-size: 24px;
  line-height: 30px;
  color: rgba(0,0,0,.4);
}

h4 + p,
h4 + blockquote {
  margin-top: 7px;
}

p, li, blockquote {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: rgba(0,0,0,.8);
}

blockquote {
  position: relative;
  font-style: italic;
}

blockquote:before {
  content: "\0020";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 3px;
  background-color: rgba(0,0,0,.8);
}

p + p,
p + blockquote,
blockquote + blockquote,
blockquote + p {
  margin-top: 29px;
}

ul {
  margin: 29px 0;
}

li {
  margin: 17px 0 17px 30px;
}

li:before {
  content: "\2022";
  position: absolute;
  width: 16px;
  margin-left: -30px;
  text-align: right;
  color: rgba(0,0,0,.8);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:visited {
  color: #000000;
}
